{% load static %}
<!DOCTYPE html>
<head>
    <title>University Library System</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

</head>

<body>
{% include "nav.html" %}
    {% block body%} 

    {% endblock %}
</body>